{
    "trailingComma": "es5",
    "semi": true,
    "tabWidth": 4,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "plugins": ["prettier-plugin-css-order"]
}
