* {
    margin: 0;
    padding: 0;
}

html,
body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}